$primary-color: #7f63f4;

.main-blue {
  color: $primary-color;
}

.bg-main-blue {
  background-color: $primary-color;
  border: none !important;
}

.bg-main-white {
  background-color: white;
  color: grey;
  border-color: lightgray !important;
  font-size: 0.8rem;
}

.light-mode .leftNav li:hover {
  background: #f1eeff;
}

.light-mode .leftNav:hover {
  width: 250px;
}

.light-mode .leftNav .item-menu {
  height: 50px;
  overflow: hidden;
  color: #7c6ebb;
}
.light-mode .leftNav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
span.menu {
  padding-left: 17px;
}

/**
--------------
Light Mode
--------------
**/
.MuiDialogContent-root,
.MuiButton-root {
  background: #192039 !important;
  color: #c2c2c2 !important;
  position: relative;
}

.light-mode,
.light-mode .leftNav,
.light-mode .navbar {
  background-color: #fff !important;
  color: #c2c2c2 !important;
}

.light-mode .navbar a {
  color: #ffffff !important;
}

.light-mode.main-content {
  background: #f3f6f9 !important;
  color: #c2c2c2 !important;
  min-height: 100vh !important;
  padding-top: 10vh;
}

.light-mode .pageHeader {
  height: 40px;
  padding-left: 80px;
  padding-top: 6px;
  background: #e7e6f8;
  vertical-align: middle;
  color: #7f63f4;
  font-weight: bold;
}

.light-mode .box-farm {
  min-height: 250px;
  background: #fff;
}

.light-mode .section-title {
  color: #7f63f4;
  font-weight: bold;
}

.info-header {
  background-color: #cccccc;
  min-height: 12vh;
}

.info-header-down {
  background-color: #fafafa;
  min-height: 10vh;
}

.pool-logo {
  margin-top: -43vh;
  max-width: 100%;
  max-height: 20vh;
}

.pool-header {
  margin-top: -19vh;
  margin-left: -1vw;
  font-size: 0.8rem;
}

.pool-name {
  font-size: 1rem;
  font-weight: bold;
}

.pool-boxes {
  margin-top: -10vh;
}

.text-purple {
  color: #7c6ebb;
}

.text-gray {
  color: #abafb3;
}

.text-gray:hover {
  color: #abafb3;
}

.pool-card {
  box-shadow: 1px 2px 2px 2px #eee;
  color: #808389;
  border: none;
}

.pool-stake-button {
  text-transform: capitalize;
  background-color: #14bd51;
  color: white;
  height: 3vh;
  border-radius: 3px;
}

.pool-unstake-button {
  text-transform: capitalize;
  background-color: #d14b0e;
  color: white;
  height: 3vh;
  border-radius: 3px;
}

.pool-max-balance {
  color: #abafb3;
  font-size: 0.8rem !important;
}

.pool-card-info {
  padding: 10px;
  margin: 6px;
  box-shadow: 1px 2px 2px 2px #eee;
  border: none;
  color: #808389;
  font-weight: 600;
}

.pool-titles {
  color: #808389;
  font-weight: 600;
}

.pool-info {
  color: #808389 !important;
  font-weight: 300;
}

.bees-logo {
  height: 20vh;
}
