$primary-color: #7f63f4;

.hidden {
  display: none;
}

.main-blue {
  color: $primary-color;
}

.bg-main-blue {
  background-color: $primary-color;
  border: none !important;
}

.bg-main-white {
  background-color: white;
  color: grey;
  border-color: lightgray !important;
  font-size: 0.8rem;
}

.light-mode .leftNav li:hover {
  background: #f1eeff;
}

.light-mode .leftNav .item-menu {
  height: 50px;
  overflow: hidden;
  color: #7c6ebb;
}

.light-mode .active > li {
  background-color: #f1eeff;
  border-left: 2px solid #7d64fb;
  padding-left: 13px;
}

.light-mode .leftNav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
span.menu {
  padding-left: 17px;
}

/**
--------------
Light Mode
--------------
**/
.MuiDialogContent-root,
.MuiButton-root {
  background: #192039 !important;
  color: #c2c2c2 !important;
  position: relative;
}

.light-mode,
.light-mode .leftNav,
.light-mode .navbar {
  background-color: #fff !important;
  color: #c2c2c2 !important;
}

.light-mode .navbar a {
  color: #ffffff !important;
}

.light-mode.main-content {
  background: #f3f6f9 !important;
  color: #c2c2c2 !important;
  min-height: 100vh !important;
  padding-top: 10vh;
}

.light-mode .pageHeader {
  height: 40px;
  padding-left: 80px;
  padding-top: 6px;
  background: #e7e6f8;
  vertical-align: middle;
  color: #7f63f4;
  font-weight: bold;
}

.light-mode .box-farm {
  min-height: 250px;
  background: #fff;
}

.light-mode .section-title {
  color: #7f63f4;
  font-weight: bold;
}

.light-mode .info-header {
  background-color: #cccccc;
}

.lightmod .info-header-down {
  background-color: #fafafa;
}

.text-gray:hover {
  color: #abafb3;
}

.light-mode .pool-titles {
  color: #808389;
  font-weight: 600;
}

.light-mode .pool-info {
  color: #808389 !important;
  font-weight: 300;
}

/* hives */
.light-mode .hive-details {
  font-size: 0.8em;
  line-height: 2.3em;
}

/* exchange */
.light-mode .unit-price {
  color: #424242;
}
