.main-content {
  padding-top: 10vh;
}

.base-card {
  font-size: 1em;
  line-height: 2.3em;
}

.unstake {
  background-color: gray !important;
}

.pool-name {
  font-size: 1rem;
  font-weight: bold;
}

.pool-boxes {
  margin-top: -10vh;
}

.text-purple {
  color: #7c6ebb;
}

.text-gray {
  color: #abafb3;
}

.pool-card-info {
  padding: 10px;
  margin: 6px;
  box-shadow: 1px 2px 2px 2px #eee;
  border: none;
  color: #808389;
  font-weight: 600;
}

.bees-logo {
  height: 20vh;
}

.pool-stake-button {
  text-transform: capitalize;
  background-color: #14bd51;
  color: white;
  height: 3vh;
  border-radius: 3px;
}

.pool-unstake-button {
  text-transform: capitalize;
  background-color: #d14b0e;
  color: white;
  height: 3vh;
  border-radius: 3px;
}

.pool-max-balance {
  cursor: pointer;
}

.pool-max-balance {
  color: #abafb3;
  font-size: 0.8rem !important;
}

.pool-card {
  box-shadow: 1px 2px 2px 2px #eee;
  color: #808389;
  border: none;
}

.stake-header-lower-section {
  margin-top: -20vh;
  @media only screen and (max-width: 575px) {
    margin-bottom: 5rem;
  }
}

.stake-header-upper-section {
  height: 10vh;
}

.pool-logo {
  // margin-top: -23vh;
  max-width: 100%;
  max-height: 20vh;
}

.stake-header-text {
  // margin-top: -19vh;
  // margin-left: -1vw;
  // font-size: 0.65rem;
}

button:disabled {
  background-color: #808080 !important;
}

.dropdown-item {
  font-size: 0.9em;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-height: 560;
  max-width: 315;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .tvk-exchange-container {
    min-height: 400px;
  }
}

.tvk-dashbard-container {
  height: 450px;
}
